@media (min-width: 50em) {

#main-menu
{
  display: none !important;
}

.menu-larg
{
  display: block !important;
}

.menu-larg-d
{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0a2e35;
  padding: 1em;
  margin-bottom: 0.5em;
}

.ll-about
{
  margin-left: auto;
}

  .lead {
    padding: 0.5em;
  }

  .ll-about {
    margin-left: auto;
  }

  .about .image {
    width: 40vw;
    height: auto;

  }

  .about .content {
    width: 40vw;
    margin-left: 2em;
    flex-grow: 1;
  }

  .about-extra-content {
    width: 70vw;
  }

  .lead {
    margin-top: 0;
  }

  /*projects*/

  .contact-card {
    width: 40vw;
  }

  .response {
    font-size: 0.7em;
  }
}